# This is a basic workflow to help you get started with Actions

name: GitHub Actions Demo

# Controls when the workflow will run
on:
  push:
    branches:
      - main
    paths-ignore: 
      - .github/**
  pull_request:
    branches: 
      - main
  schedule:
    - cron: '15 6 * * 0'
  workflow_dispatch:

jobs:
  b:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "event: ${{ github.event_name }} | branch: ${{ github.ref_name }}"

      - uses: actions/checkout@v3
      - run: tree
